.logoo {
    filter : drop-shadow(1px 1px 10px  orange) ;
    /* box-shadow: 1px 1px 20px orange; */
    border-radius: 1rem;
}
.logoo:hover{
   animation : upAndDown 0.5s 0.5s ease-in-out infinite;
}

@keyframes upAndDown {
    0% {
      transform: translateY(0); /* Start at original position */
    }
    50% {
      transform: translateY(-2px); /* Move up by 20px */
    }
    100% {
      transform: translateY(0); /* Return to the original position */
    }
  }

  .form-control:focus {
    border-color: orange; /* Orange border color */
    box-shadow: 0 0 8px rgba(255, 165, 0, 0.8); /* Orange glow */
  }

  .form{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
   font-size: 1.2rem;
  }

.label{
/* display: inline ; */
}
.input {
    width : 4440rem ;
}
@media (min-width: 700px) {
    .input {
        /* padding : 2rem ; */
      /* background-color: red;  */
     width : 23090rem ;
    }
  }
  
  .form-control{
    /* width : 50rem ; */
  }
  @media (min-width: 1000px) {
    .input {
background-color: red;
    }

    .textoutline{
      width : 50rem ;
    }

    .logoo {
      height: 5rem !important ;
      width : 17rem !important ;
    }
  }